<h1 align="center">Fundamentals of Programming</h1>
<h1 align="center">Week 4</h1>
<hr>

## Lambda Functions

Lambda functions are **small, anonymous functions** written in a single line.

**Syntax:** `lambda arguments: expression`

- Used for **simple operations**
- Always return a value
- No function name is required

In [1]:
# Example 1: addition
add = lambda a, b: a + b
add(3, 7)

10

In [2]:
# Example 2: check if a number is even
is_even = lambda x: x % 2 == 0
is_even(10)

True

## Lists

Lists are **ordered, mutable collections**.

They allow:
- Duplicate values
- Changing values after creation

A list is used to store multiple values in one place when the data can change and order matters.

In [3]:
# Creating a list
numbers = [1, 2, 3, 4]
numbers

[1, 2, 3, 4]

In [4]:
# Accessing elements
numbers[0]

1

In [5]:
# Modifying a list
numbers[2] = 10
numbers

[1, 2, 10, 4]

In [6]:
# Print the list
for number in numbers:
    print(number)

1
2
10
4

## Tuples

Tuples are **ordered but immutable**.

Once created, their values **cannot be changed**.

Tuples are used to store multiple values that should not be changed, ensuring data stays safe and consistent.

In [7]:
# Creating a tuple
days = ('Mon', 'Tue', 'Wed')
days

('Mon', 'Tue', 'Wed')

In [8]:
# Accessing tuple values
days[1]

'Tue'

## Sets

Sets store **unique values only** and have **no fixed order**.

Sets are used to store multiple values when you want only unique items and the order does not matter.

In [9]:
# Creating a set
unique_numbers = {1, 2, 2, 3, 4}
unique_numbers

{1, 2, 3, 4}

In [10]:
# Adding elements to a set
unique_numbers.add(5)
unique_numbers

{1, 2, 3, 4, 5}

In [11]:
first_element = next(iter(unique_numbers))
print(first_element)

1

In [12]:
# Covert to List
unique_numbers_list = list(unique_numbers)
print(unique_numbers_list[0])

1

In [13]:
# Remove form set
unique_numbers_pop = unique_numbers.pop()
print(unique_numbers_pop)
print(type(unique_numbers_pop))

1
<class 'int'>

## Dictionaries

Dictionaries store data as **key–value pairs**.

Each key must be unique.

Dictionaries are used to store data as key–value pairs so values can be quickly accessed using meaningful keys.

In [14]:
# Creating a dictionary
student = {
    "name": "Sara",
    "age": 19,
    "major": "Computer Science"
}
student

{'name': 'Sara', 'age': 19, 'major': 'Computer Science'}

In [15]:
# Accessing dictionary values
student['major']

'Computer Science'

## Local and Global Scope

- **Global variables** are defined outside functions
- **Local variables** exist only inside a function

In [16]:
# Global variable
x = 50

def show_x():
    print('Inside function:', x)

show_x()
print('Outside function:', x)

Inside function: 50
Outside function: 50

In [17]:
# Local variable example
def local_scope():
    y = 20
    return y

local_scope()

20