<h1 align="center">Fundamentals of Programming</h1>
<h1 align="center">Week 2</h1>
<hr>

# Variable Assignments

* `=` is the assignment operator.
* Define Python symbols to store values.
* Python names are:
  * Case-sensitive.
  * Consist of alphanumeric characters, `a`-`z`, `A`-`Z`, `0`-`9` and `_`.
  * Must start with a letter or `_`.
    - Variable names starts with lower-case letter.
    - Class names starts with a capital letter.
    - Names starting with `_` is **hidden**. ( variables or functions starting with an underscore are typically considered private. This means they are meant for internal use within a class or module and are not intended to be accessed directly from outside.)
    - *Dunder* (double under): names surrounded by `_ _` are typically created by Python that refer to special methods or attributes
  * No length limitations.
#### Note:
You will see many Python programs using *Snake casing*: separate words with `_`

num_cakes = 2



<br>
Python keywords:
<br><br>
<table>
    <tr><td>and</td><td>as</td><td>assert</td><td>break</td><td>class</td><td>continue</td></tr>
    <tr><td>def</td><td>elif</td><td>else</td><td>except</td><td>exec</td><td>finally</td></tr>
    <tr><td>for</td><td>from</td><td>global</td><td>if</td><td>import</td><td>in</td></tr>
    <tr><td>is</td><td>lambda</td><td>not</td><td>or</td><td>pass</td><td>print</td></tr>
    <tr><td>raise</td><td>return</td><td>try</td><td>while</td><td>with</td><td>yield</td></tr>
</table>
<br>
Python built-in functions
<br><br>
<table>
    <tr><td>abs</td><td>all</td><td>any</td><td>ascii</td><td>bin</td><td>bool</td></tr>
    <tr><td>bytearray</td><td>bytes</td><td>callable</td><td>chr</td><td>classmethod</td><td>compile</td></tr>
    <tr><td>complex</td><td>delattr</td><td>dict</td><td>dir</td><td>divmod</td><td>enumerate</td></tr>
    <tr><td>eval</td><td>exec</td><td>filter</td><td>float</td><td>format</td><td>frozenset</td></tr>
    <tr><td>getattr</td><td>globals</td><td>hasattr</td><td>hash</td><td>help</td><td>hex</td></tr>
    <tr><td>id</td><td>input</td><td>int</td><td>isinstance</td><td>issubclass</td><td>iter</td></tr>
    <tr><td>len</td><td>list</td><td>locals</td><td>map</td><td>max</td><td>memoryview</td></tr>
    <tr><td>min</td><td>next</td><td>object</td><td>oct</td><td>open</td><td>ord</td></tr>
    <tr><td>pow</td><td>print</td><td>property</td><td>range</td><td>reduce</td><td>repr</td></tr>
    <tr><td>reversed</td><td>round</td><td>set</td><td>setattr</td><td>slice</td><td>sorted</td></tr>
    <tr><td>staticmethod</td><td>str</td><td>sum</td><td>super</td><td>tuple</td><td>type</td></tr>
    <tr><td>vars</td><td>zip</td></tr>
</table>
<br>

## Practice

In [1]:
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [2]:
x = 5.0

In [3]:
x = .8 + 10

In [4]:
x = "Seattle " + "WA"

In [6]:
x = "Seattle " + "12" ## Error fix

In [7]:
x = "Seattle " + "?" # fix

#### You can have multiple statements on one line,
  * designate statement end with ";"
  * use only with simple statements.

In [8]:
# ";" designate statement end
y =1.0; print(y)

1.0

In [2]:
a, b, c = 1, 1.0, 1 + 2j
print(a)                           #print the value of "a"
print(b)                           #print the value of "b"
print(c.real)                           #print the value of "c"

1
1.0
1.0

## Common Numerical Operations:

| Operations       | Symbol   |
| --- | --- |
| addition         | `+` |
| subtraction      | `-` |
| multiplication   | `*` |
| float division   | `/` |
| integer division | `//` |
| remainder        | `%` |
| exponentiation   | `**` |
| increment by | `+=` |
| decrement by | `-=` |
| multiply by | `*=` |
| divide by | `/=` |

## Relational Operators

| Description       | Symbol   |
| --- | --- |
| Greater than         | `>` |
| Greater thatn or equal to     | `>=` |
| Less than   | `<` |
| Less than or equal to   | `<=` |
| Equall to  | `==` |
| Not equall to  | `!=` |

### Float Division '/'
#### Interger Division '//'

In [11]:
3/4

0.75

In [12]:
3//4

0

### Increment, Decrement, Multiply by, Divide by operators:

```python
a, b = 3.0, 4.0

a += 1   # increment by one, same as a = a + 1
a

a -= 1; a

a *= b   # same as a = a * b
```

In [13]:
a = 10.0
b = 4.0

a += 1 # increment by one, same as a = a + 1

a -= 1 # decrement by one, same as a = a - 1

a *= 2 # mulitple by 2, same as a = a * 2

a /= 2 # divided by 2, same as a = a / 2

### Operator Precedence

- #### Operations higher up in table has higher precedence.
- #### Operators of the same precedence (in the same row) *associates* left-to-right;

| Operator | Description |
| ---- | ---- |
| `(expression...)`, `[expressions...]`, `{expressions...]`, `{key: value...}` | binding or parenthesized expression, list display, set display, dict display |
| `x[index]`, `x[index:index]`, `x(arguments...)`, `x.attribute` | subscription, slicing, call, attribute reference |
| `await x` | await expression |
| `**` | exponentiation |
| `+x`, `-x`, `~x` | positive, negative, bitwise NOT |
| `*`, `@`, `/`, `//`, `%` | multiplication, matrix multiplication, division, floor division, remainder |
| `+`, `-` | addition & subtraction |
| `<<`, `>>` | shifts |
| `&` | bitwise AND |
| `^` | bitwise XOR |
| `|` | bitwise OR |
| `in`, `not in`, `is`, `is not`, `<`, `<=`, `>`, `>=`, `!=`, `==` | Boolean: membership test, comparison tests
| `not x` | Boolean NOT |
| `and` | Boolean AND |
| `or` | Booean OR |
| `if ... else ...` | conditional |
| `lambda` | Lambda expression |
| `:=` | assignment expression |

#### Practice

In [14]:
40 - 2 * 4

32

In [15]:
(40 - 2) * 4

152

In [16]:
# exponentiation associates right-to-left
2 ** 3 ** 2

512

In [17]:
# Trick
(2 ** 3) ** 2

64

### Strings

- Strings are ordered collections (sequences) of Unicode characters
- Strings are enclosed in matching quotes, either single (`'`) or double (`"`).

Note:
- Strings are Immutable.
- The `+` operator concatenate strings to form a new string.
- Strings are iterable.
- `len()` function returns length of the string.

#### Examples

In [18]:
name = 'IT 111 Fundamentals of Programming'

print(type(name))

print(len(name))

<class 'str'>
34

### Option / Condition

```python
if option1:
    print('option 1')
    ...
elif option2:
    print('option 2')
    ...
elif ...:
    ...
    ...
else:
    print('option 3.')
```

**In Python indents are required, not optional.**
  - convention is 4 spaces per indent level.
  - careful not to mix tabs with spaces!
  - set editors to replace tab characters with 4 spaces.
  - usually a problem from sharing code with different indent settings.

In [19]:
a = 2

if a < 0:
    print('a is negative')
elif a < 5:
    print('a is less than 5.')
elif a == 5:
    print('a is ten.')
else:
    print('a is greater than 5.')

a is less than 5.

### Truth Tables
| x | y | x and y |
| ---- | ---- | ---- |
| True | True | True |
| True | False | False |
| False | Ture | False |
| False | False | False |

#
| x | y | x or y |
| ---- | ---- | ---- |
| True | True | True |
| True | False | True |
| False | Ture | True |
| False | False | False |

### Compound conditions:

```python
x = 2

if x < 2 or x >= 10:
    print('x not between 2 and 10.')
elif x >= 2 and x < 10:
    print('x between 2 and 10.')
```

In [20]:
x = 2

if x < 2 or x >= 10:
    print('x not between 2 and 10.')
elif x >= 2 and x < 10:
    print('x between 2 and 10.')

x between 2 and 10.

### Nested Decisions

In [21]:
if x < 2 or x >= 10:
    print('x not between 2 and 10.')
elif x >= 2 and x < 10:
    print('x between 2 and 10.')
    if x == 2:
        print("your number is " + str(x))
    else:
        print("your number is not " + str(x))

x between 2 and 10.
your number is 2

In [22]:
from google.colab import files
files.upload()

ModuleNotFoundError: No module named 'google'

In [23]:
# Read from a text file:

f = open("myfile.txt", "r")
print(f.read())
f.close()

Python makes it easy to turn ideas into working code with its clean syntax and powerful builtâ€‘in tools.

In [24]:
# Append from a text file:

f = open("myfile.txt", "a")
f.write(" It also encourages experimentation, letting you learn and build new" \
"things with surprising speed.")
f.close()

In [25]:
# Read from a text file:

f = open("myfile.txt", "r")
print(f.read())
f.close()

Python makes it easy to turn ideas into working code with its clean syntax and powerful builtâ€‘in tools. It also encourages experimentation, letting you learn and build newthings with surprising speed.

In [26]:
# Overwrite the content in the file and replace it:

f = open("myfile.txt", "w")
f.write("Cutting the old message ... putting in this new one.")
f.close()

In [27]:
# Read from a text file:

f = open("myfile.txt", "r")
print(f.read())
f.close()

Cutting the old message ... putting in this new one.

In [2]:
# Create a new empty file:

f = open("myfile2.txt", "x")
f.close()

In [3]:
# Delete a file
import os
os.remove("myfile2.txt")